.git
.github
.env
.env.docker
.env.local
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.vscode
.idea
*.md
!README.md
docker-compose*.yml
